body{
    margin: 0;
}

header{
background-color: #adb5bd;
height: 200px;
position: absolute;
width: 100%;
display: flex;

}

.header-menu-ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    font-size: larger;
    transition: 200ms;
}
li:hover{
    color: rgb(218, 218, 218);
}

.hiding-header-li2{
    display: none;
}


img{
    width: 150px;
}