body{
    margin: 0;
}

/* headr */
header{
background-color: #adb5bd;
height: 180px;
width: 100%;
display: flex;
justify-content: center;
}

.header-menu-ul{
    width: 75%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    font-size: larger;
    transition: 200ms;
    position: relative;
    right: 20px;
    border: soli;
}
header li:hover{
    color: rgb(218, 218, 218);
}

.header-ul-img{
    width: 150px;
}

@media screen and (max-width: 990px) {
    .header-ul-img{
        display: none;
    }

    .header-menu-ul{
        width: 100%;
    }

    header{
        height: 100px;
    }
    
}

/* section image packs */

section{
    background-color: #ced4da;
    width: 100%;    
}

section .section-img-packs{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

section .section-img-packs div{
    margin: 20px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: #bacbdb;
    transition: 0.5s;
}

section .section-img-packs div:hover{
    transform: scale(1.03) rotate(2deg);
    box-shadow: 0px 0px 5px 1px rgb(180, 180, 180);
}

section .section-img-packs div img{
    width: 150px;
    margin: 10px;
}

section .section-img-packs div h4{
    color: #013d79;
}


/* section pack adder */
/* 1- h3 and image addresses */
.section-img-adder{
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-img-adder h3{
    color: #9b7d1d;
    font-family: sans-serif;
}

.section-img-adder .img-addresses{
width: 40%;
display: flex;
justify-content: space-between;
margin: 15px;
}

.section-img-adder .img-addresses input{
padding: 5px;
border: none;
font-size: 15px;
border-radius: 15%;
background-color: #e9ecef;
color: #000000;
transition: 0.1s;
}

.section-img-adder .img-addresses input:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 2px rgba(71, 71, 71, 0.575);
}

.section-img-adder .adding-part{

}
.section-img-adder .adding-part #url-input{
height: 25px;
width: 220px;
border: none;
text-align: center;
}

.section-img-adder .adding-part #name-input{
    height: 25px;
    width: 220px;
    border: none;
    text-align: center;
}

.section-img-adder .adding-part .add-img-button {
margin: 20px;
padding: 5px;
width: 80px;
border: none;
font-size: 25px;
font-family: fantasy;
border-radius: 25px;
background-color: #9a9b9c;
color: #000000;
transition: 0.2s;
}

.section-img-adder .adding-part .add-img-button:hover{
background-color: rgb(235, 235, 235);
}

@media screen and (max-width: 990px) {
    .section-img-adder .img-addresses{width: 60%;}
}


/* footer */

footer{
    height: 280px;
    background: #9fabb6;
    display: flex;
    justify-content: space-around;
}

.information{
    width: 40%;
    padding-top: 40px;
}

.contact{
    width: 40%;
    padding-top: 40px;
    text-align: center;
}

.contact img{
    margin:0 5px;
    width: 30px;
    transition: 0.1s;
}

.contact img:hover{
    transform: scale(1.2);
}