body{
    margin: 0;
}

/* headr */
header{
background-color: #adb5bd;
height: 180px;
position: absolute;
width: 100%;
display: flex;
justify-content: center;
}

.header-menu-ul{
    width: 75%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    font-size: larger;
    transition: 200ms;
    position: relative;
    right: 20px;
    border: soli;
}
header li:hover{
    color: rgb(218, 218, 218);
}

.header-ul-img{
    width: 150px;
}

@media screen and (max-width: 990px) {
    .header-ul-img{
        display: none;
    }

    .header-menu-ul{
        width: 100%;
    }

    header{
        height: 100px;
    }
    
}

/* section */

section{
    background-color: #ced4da;
    width: 100%;
    height: 400px;
    position: relative;
    top: 170px;
}

section .section-img-packs{
display: flex;
justify-content: space-around;
}

section .section-img-packs div{
    margin: 20px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: #bacbdb;
    transition: 0.5s;
}

section .section-img-packs div:hover{
    transform: scale(1.03) rotate(2deg);
    box-shadow: 0px 0px 5px 1px rgb(180, 180, 180);
}

section .section-img-packs div img{
    width: 150px;
}

section .section-img-packs div h4{
    color: #013d79;
}